<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403175826278-pdqpr3bcopelll2ll4i9tar8o98pgtst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403175826278-pdqpr3bcopelll2ll4i9tar8o98pgtst</string>
	<key>API_KEY</key>
	<string>AIzaSyBxw7LQSWXILEPS05_gFw95AF8pv4W89YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>403175826278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ezgi.FotografPaylasmaUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografpaylasmauygulama-860c5</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografpaylasmauygulama-860c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403175826278:ios:6db867dc984c0e23bcdea7</string>
</dict>
</plist>